<!DOCTYPE html>
<html>
<head>
    <%= require('html-loader!./layout/head-common.html') %>
    <title><%= htmlWebpackPlugin.options.title %></title>
</head>

<body>
    <%= require('html-loader!./layout/header.html') %>
    <section>
        <div class="w">
            <!-- form组件 -->
            <%= require('html-loader!../example/form/index.html') %>
            <%= require('html-loader!../example/select/index.html') %>
        	<%= require('html-loader!../example/cascade/index.html') %>
            <%= require('html-loader!../example/datepicker/index.html') %>
            <%= require('html-loader!../example/upload/index.html') %>
            <%= require('html-loader!../example/selectTile/index.html') %>
            <!-- 组件用例 -->
            <%= require('html-loader!../example/tab/index.html') %>
            <%= require('html-loader!../example/slider/index.html') %>
            <div id="myChart1" style="width: 400px; height: 400px"></div>
            <div id="myChart2" style="width: 400px; height: 400px"></div>
        </div>
    </section>
    <%= require('html-loader!./layout/footer.html') %>
</body>
</html>